<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        background-color: LightSlateGrey;
      }
    </style>
  </head>
  <body>
    <p>Welcome to <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>: <%= subtitle%></p>
    <p>Views</p>
    <a href="/address1/all">Address Views</a>
    <br /><a href="/event/all">Event Views</a>
    <br /><a href="/attendee/all">Attendee Views</a>
    <br /><a href="/parking/all">Parking Views</a>
    <br /><a href="/info/all">Info Views</a>
    <br /><a href="/menu/all">Menu Views</a>
    <p>SQL Queries</p>
    <a href="/SQL/all">A query using a correlated subquery</a>
    <br /><a href="/SQL/info">A query using a subquery in a JOIN</a>
    <br /><a href="/SQL/query">A query using a subquery with IN</a>
    <br /><a href="/SQL/query1">A query using a subquery with NOT EXISTS</a>
    <br /><a href="/SQL/query2">A query that compares a value in the outer query to a value returned by the inner query</a>
    <br /><a href="/SQL/query3">A query using GROUP BY</a>
    <br /><a href="/SQL/query4">A query utilizing a JOIN, GROUP BY, HAVING and an derived function (avg, min, max, etc.)</a>
    <br /><a href="/SQL/query5">A query using ORDER BY</a>
    <br /><a href="/SQL/query6">A query using a UNION</a>
    <br /><a href="/SQL/query7">A query using DISTINCT</a>

  </body>
</html>
