<!DOCTYPE html>
<html>
<head>
    <title>Address - Add</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address1/insert" method="get">
    Street: <input name="street" type="text" />
    City: <input name="city" type="text" />
    State: <input name="state" type="text" />
    Zip Code: <input name="zip_code" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>