<!DOCTYPE html>
<html>
<head>
    <title>Address - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Address Edit</h1>
<form action="/address1/update" method="get">

    Street: <input
            id="street"
            name="street"
            type="text"
            value="<%= address1.street %>"
    />

    <input type="hidden"
           id="address1_id"
           name="address1_id"
           type="text"
           value="<%= address1.address1_id %>"
    />
    <br />
    City: <input
            id="city"
            name="city"
            type="text"
            value="<%= address1.city %>"
    />
    <br />
    State: <input
            id="state"
            name="state"
            type="text"
            value="<%= address1.state %>"
    />
    <br />
    Zip Code: <input
            id="zip_code"
            name="zip_code"
            type="text"
            value="<%= address1.zip_code %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>