<!DOCTYPE html>
<html>
<head>
    <title>Address - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/address1/add">Address</a> <br /></h1>

<table border="1">
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < address1.length; i++) { %>
    <tr>
        <td><%= address1[i].street %></td>
        <td><%= address1[i].city %></td>
        <td><%= address1[i].state %></td>
        <td><%= address1[i].zip_code %></td>
        <td>
            <a href="/address1/edit/?address1_id=<%= address1[i].address1_id %>">
                Edit
            </a>
            <a href="/address1/delete/?address1_id=<%= address1[i].address1_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">Address insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">Address delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">Address update was successful</p>
</div>
<% } %>
</body>
</html>