<!DOCTYPE html>
<html>
<head>
    <title>Info - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Info Edit</h1>
<form action="/info/update" method="get">

    Allowed Item: <input
            id="allowed"
            name="allowed"
            type="text"
            value="<%= info.allowed %>"
    />

    <input type="hidden"
           id="info_id"
           name="info_id"
           type="text"
           value="<%= info.info_id %>"
    />

    Denied Item: <input
            id="denied"
            name="denied"
            type="text"
            value="<%= info.denied %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>