<!DOCTYPE html>
<html>
<head>
    <title>Info - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/info/add">Info</a></h1>

<table border="1">
    <tr>
        <th>Allowed Items</th>
        <th>Denied Items</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < info.length; i++) { %>
    <tr>
        <td><%= info[i].allowed %></td>
        <td><%= info[i].denied %></td>
        <td>
            <a href="/info/edit/?info_id=<%= info[i].info_id %>">
                Edit
            </a>
            <a href="/info/delete/?info_id=<%= info[i].info_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">Info insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">Info delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">Info update was successful</p>
</div>
<% } %>
</body>
</html>