<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Distinct Last Name</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].last_name %></td>
    </tr>

    <% } %>
</table>

<p>SELECT DISTINCT last_name FROM attendee;</p>

</body>
</html>