<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Cities and Events</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].Cities_and_Events %></td>
    </tr>

    <% } %>
</table>

<p>SELECT city AS Cities_and_Events FROM address1
    <br />UNION
    <br />SELECT event_name FROM event;
</p>

</body>
</html>