<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].street %></td>
        <td><%= result[i].city %></td>
        <td><%= result[i].state %></td>
    </tr>

    <% } %>
</table>

<p>SELECT street, city, state FROM (SELECT * FROM address1 WHERE address1_id IN (SELECT address1_id FROM event_address)) AS Location;</p>

</body>
</html>