<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>City</th>
        <th>State</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].city %></td>
        <td><%= result[i].state %></td>
    </tr>

    <% } %>
</table>

<p>SELECT city, state FROM (SELECT * FROM address1 a WHERE NOT EXISTS (SELECT * FROM event_address ea WHERE ea.address1_id = a.address1_id)) AS city_state;</p>

</body>
</html>