<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Vehicle</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].vehicle %></td>
    </tr>

    <% } %>
</table>

<p>SELECT vehicle FROM (SELECT * FROM parking p WHERE NOT EXISTS (SELECT parking_id FROM parking_info pi WHERE parking_id = p.parking_id)) AS Vehicle;</p>

</body>
</html>