<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Street</th>
        <th>City</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].street %></td>
        <td><%= result[i].city %></td>
    </tr>

    <% } %>
</table>

<p>SELECT street, city FROM (SELECT a.street, a.city
    <br />FROM address1 a
    <br />INNER JOIN event_address ea ON a.address1_id = ea.address1_id
    <br />WHERE ea.address1_id IN (SELECT address1_id FROM event_address ea WHERE address1_id = 5)) AS street_city;</p>

</body>
</html>