<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Event Name</th>
        <th>Locations</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].event_name %></td>
        <td><%= result[i].locations %></td>
    </tr>

    <% } %>
</table>

<p>SELECT  e.event_name, COUNT(ea.address1_id) AS locations
    <br />FROM event_address ea
    <br />RIGHT JOIN event e ON ea.event_id = e.event_id
    <br />GROUP BY e.event_id
    <br />HAVING COUNT(ea.address1_id) > MAX(locations);
</p>

</body>
</html>