<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Average</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].Average %></td>
    </tr>

    <% } %>
</table>

<p>SELECT AVG(Compare_AVG) AS Average
    <br />FROM
    <br />(
    <br />SELECT  e.event_name, COUNT(ea.address1_id) AS Compare_AVG
    <br />FROM event_address ea
    <br />RIGHT JOIN event e ON ea.event_id = e.event_id
    <br />GROUP BY e.event_id) AS Average;</p>

</body>
</html>