<!DOCTYPE html>
<html>
<head>
    <title>RESULT</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>RESULT</h1>

<table border="1">
    <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].street %></td>
        <td><%= result[i].city %></td>
        <td><%= result[i].state %></td>
    </tr>

    <% } %>
</table>

<p>SELECT a.street, a.city, a.state
    FROM address1 a
    INNER JOIN event_address ea ON a.address1_id = ea.address1_id
    GROUP BY a.address1_id;</p>

</body>
</html>