<!DOCTYPE html>
<html>
<head>
    <title>Menu - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Menu Edit</h1>
<form action="/menu/update" method="get">

    Food: <input
            id="food"
            name="food"
            type="text"
            value="<%= menu.food %>"
    />

    <input type="hidden"
           id="menu_id"
           name="menu_id"
           type="text"
           value="<%= menu.menu_id %>"
    />

    Beverage: <input
            id="beverage"
            name="beverage"
            type="text"
            value="<%= menu.beverage %>"
    />

    Price: <input
            id="price"
            name="price"
            type="text"
            value="<%= menu.price %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>