<!DOCTYPE html>
<html>
<head>
    <title>Menu - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/menu/add">Menu</a></h1>

<table border="1">
    <tr>
        <th>Food</th>
        <th>Beverage</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < menu.length; i++) { %>
    <tr>
        <td><%= menu[i].food %></td>
        <td><%= menu[i].beverage %></td>
        <td><%= menu[i].price %></td>
        <td>
            <a href="/menu/edit/?menu_id=<%= menu[i].menu_id %>">
                Edit
            </a>
            <a href="/menu/delete/?menu_id=<%= menu[i].menu_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">menu insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">menu delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">menu update was successful</p>
</div>
<% } %>
</body>
</html>