<!DOCTYPE html>
<html>
<head>
    <title>Parking - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/parking/add">Parking</a></h1>

<table border="1">
    <tr>
        <th>Parking Number</th>
        <th>Vehicle</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < parking.length; i++) { %>
    <tr>
        <td><%= parking[i].parking_num %></td>
        <td><%= parking[i].vehicle %></td>
        <td>
            <a href="/parking/edit/?parking_id=<%= parking[i].parking_id %>">
                Edit
            </a>
            <a href="/parking/delete/?parking_id=<%= parking[i].parking_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">Parking insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">Parking delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">Parking update was successful</p>
</div>
<% } %>
</body>
</html>