<!DOCTYPE html>
<html>
<head>
    <title>Parking - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Parking Edit</h1>
<form action="/parking/update" method="get">

    Parking Number: <input
            id="parking_num"
            name="parking_num"
            type="text"
            value="<%= parking.parking_num %>"
    />

    <input type="hidden"
           id="parking_id"
           name="parking_id"
           type="text"
           value="<%= parking.parking_id %>"
    />

    Vehicle: <input
            id="vehicle"
            name="vehicle"
            type="text"
            value="<%= parking.vehicle %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>