<!DOCTYPE html>
<html>
<head>
    <title>Attendee - Add</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Add New Attendee</h1>
<form action="/attendee/insert" method="get">
    Email: <input name="email" type="text" />
    First Name: <input name="first_name" type="text" />
    Last Name: <input name="last_name" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>