<!DOCTYPE html>
<html>
<head>
    <title>Attendee - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/attendee/add">Attendee</a> </h1>

<table border="1">
    <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < attendee.length; i++) { %>
    <tr>
        <td><%= attendee[i].email %></td>
        <td><%= attendee[i].first_name %></td>
        <td><%= attendee[i].last_name %></td>
        <td>
            <a href="/attendee/edit/?attendee_id=<%= attendee[i].attendee_id %>">
                Edit
            </a>
            <a href="/attendee/delete/?attendee_id=<%= attendee[i].attendee_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">Attendee insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">Attendee delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">Attendee update was successful</p>
</div>
<% } %>
</body>
</html>