<!DOCTYPE html>
<html>
<head>
    <title>Attendee - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Attendee Edit</h1>
<form action="/attendee/update" method="get">

    Email: <input
            id="email"
            name="email"
            type="text"
            value="<%= attendee.email %>"
    />

    <input type="hidden"
           id="attendee_id"
           name="attendee_id"
           type="text"
           value="<%= attendee.attendee_id %>"
    />
    <br />
    First Name: <input
            id="first_name"
            name="first_name"
            type="text"
            value="<%= attendee.first_name %>"
    />
    <br />
    Last Name: <input
            id="last_name"
            name="last_name"
            type="text"
            value="<%= attendee.last_name %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>