<!DOCTYPE html>
<html>
<head>
    <title>Event - Edit</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1>Event Edit</h1>
<form action="/event/update" method="get">

    Event Name: <input
            id="event_name"
            name="event_name"
            type="text"
            value="<%= event.event_name %>"
    />

    <input type="hidden"
           id="event_id"
           name="event_id"
           type="text"
           value="<%= event.event_id %>"
    />
    <br />
    <input type="submit" />
</form>
</body>
</html>