<!DOCTYPE html>
<html>
<head>
    <title>Event - View All</title>
    <style>
        body {
            background-color: LightSlateGrey;
        }
    </style>
</head>
<body>
<h1><a href="/event/add">Event</a></h1>

<table border="1">
    <tr>
        <th>Event Name</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i < event.length; i++) { %>
    <tr>
        <td><%= event[i].event_name %></td>
        <td>
            <a href="/event/edit/?event_id=<%= event[i].event_id %>">
                Edit
            </a>
            <a href="/event/delete/?event_id=<%= event[i].event_id %>">
                Delete
            </a>
        </td>
    </tr>

    <% } %>
</table>

<% if(locals.was_successful_insert) { %>
<div>
    <p style="color:green;">Event insert was successful</p>
</div>
<% } %>

<% if(locals.was_successful_delete) { %>
<div>
    <p style="color:red;">Event delete was successful</p>
</div>
<% } %>

<% if(locals.was_successful_update) { %>
<div>
    <p style="color:yellow;">Event update was successful</p>
</div>
<% } %>
</body>
</html>